nodered/data/.flows.json.backup
[{"id":"17838c19.b5fd5c","type":"tab","label":"main","disabled":false,"info":""},{"id":"20ceb07d.429d5","type":"tab","label":"get_cours","disabled":false,"info":""},{"id":"4e6420aa.234fe","type":"tab","label":"request_course","disabled":false,"info":""},{"id":"85f1ad26.1cd28","type":"tab","label":"inline_keyboard","disabled":false,"info":""},{"id":"bdb5fcb3.a365c8","type":"tab","label":"database","disabled":false,"info":""},{"id":"831f6c52.8309d","type":"redis-config","z":"","name":"redis-global","options":"{\"host\":\"redis\",\"port\":6379}","cluster":false,"optionsType":"json"},{"id":"aef21b2.aec0768","type":"telegram bot","z":"","botname":"Disaster Recovery Plan","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"f9c6a0d0.e7aa1","type":"telegram bot","z":"","botname":"DileroBot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"","usesocks":false,"sockshost":"","socksport":"","socksusername":"","sockspassword":"","bothost":"","localbotport":"","publicbotport":"","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"e8ce4add.ee8c78","type":"postgresDB","z":"","name":"postgresql","host":"postgres","port":"5432","database":"dealer","ssl":false,"max":"10","min":1,"idle":"1000"},{"id":"25697bba.79eb5c","type":"debug","z":"17838c19.b5fd5c","name":"Create client","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1210,"y":820,"wires":[]},{"id":"51675112.ebfdc8","type":"redis-command","z":"17838c19.b5fd5c","server":"831f6c52.8309d","command":"hmset","name":"Create client","topic":"","params":"{}","paramsType":"json","payloadType":"json","block":false,"x":1210,"y":760,"wires":[["25697bba.79eb5c"]]},{"id":"f41c00c0.1b2de8","type":"function","z":"17838c19.b5fd5c","name":"Build client data","func":"msg.payload = {\n    date: msg.originalMessage.date,\n    first_name: msg.originalMessage.chat.first_name,\n    username: msg.originalMessage.chat.username,\n    message_id: msg.originalMessage.from.message_id,\n    chatId: msg.originalMessage.from.id\n};\n\nif(!msg.topic){\n   msg.topic = \"client:\" + msg.payload.chatId; \n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1020,"y":760,"wires":[["51675112.ebfdc8"]]},{"id":"96dfd1c8.b1d558","type":"switch","z":"17838c19.b5fd5c","name":"Find command","property":"originalMessage.text","propertyType":"msg","rules":[{"t":"eq","v":"/start","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":800,"y":760,"wires":[["f41c00c0.1b2de8"],["fdd275fc.82c208"]]},{"id":"fdd275fc.82c208","type":"debug","z":"17838c19.b5fd5c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":810,"y":820,"wires":[]},{"id":"3a2b1d66.9aeffa","type":"redis-command","z":"17838c19.b5fd5c","server":"831f6c52.8309d","command":"hgetall","name":"Find client","topic":"","params":"{}","paramsType":"json","payloadType":"json","block":false,"x":410,"y":760,"wires":[["523abb6a.4456a4"]]},{"id":"4c869d38.b6d714","type":"function","z":"17838c19.b5fd5c","name":"build key redis","func":"msg.topic = String(\"client:\" + msg.payload.chatId);\nmsg.payload = false;\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":760,"wires":[["3a2b1d66.9aeffa"]]},{"id":"523abb6a.4456a4","type":"change","z":"17838c19.b5fd5c","name":"","rules":[{"t":"set","p":"client","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":760,"wires":[["96dfd1c8.b1d558"]]},{"id":"9e957e44.dfbf6","type":"function","z":"17838c19.b5fd5c","name":"confirmation message","func":"msg.payload.type = \"message\"\n\nvar hellomassage = \"Ти можешь взаємодіяти з ботом декількома способами:\\r\\n \";\nhellomassage += \"\\r\\n\";\nhellomassage += \"1. Введи з клавіатури символ / та обери команду для бота. Якщо потрібна допомога да більш детальний опис команд, то відправ в чат команду /help .\\r\\n\"; \nhellomassage += \"2. Щоб скористатися ботом в будьякому чаті с друзями, або с партнерами, просто набери в необхідному чати назву бота @dilero_bot та введи необхідну сумму для конвертації\\r\\n\";\nhellomassage += \"3. Або ти можешь скористатися клавіатурою бота, котора в декілька кліків допоможе виконати будьяку операцию.\\r\\n\";\nhellomassage += \"\\r\\n\";\nhellomassage += \"Давай починати! Обери необхідну команду на клавіатурі та тицяй на неї...\"\n\nmsg.payload.content = hellomassage;\n\nreturn [ msg ];\n","outputs":"1","noerr":0,"x":920,"y":60,"wires":[["aa00b0ca.c4181"]]},{"id":"aa00b0ca.c4181","type":"telegram sender","z":"17838c19.b5fd5c","name":"send response","bot":"f9c6a0d0.e7aa1","x":1180,"y":60,"wires":[["ce2445fb.5cba48"]]},{"id":"5b64e1d.19e9aa","type":"telegram command","z":"17838c19.b5fd5c","name":"Command [/start]","command":"/start","bot":"f9c6a0d0.e7aa1","strict":false,"hasresponse":false,"x":120,"y":60,"wires":[["12e64d37.9ecee3","4d0a7292.e0616c"],[]]},{"id":"747439d5.98948","type":"telegram receiver","z":"17838c19.b5fd5c","name":"Get all massage","bot":"f9c6a0d0.e7aa1","saveDataDir":"","x":140,"y":360,"wires":[["ccd30068.f32f"],[]]},{"id":"b4251398.e3d54","type":"switch","z":"17838c19.b5fd5c","name":"","property":"originalMessage.text","propertyType":"msg","rules":[{"t":"eq","v":"Курси валют","vt":"str"},{"t":"eq","v":"Конвертер валют","vt":"str"},{"t":"eq","v":"Підписки","vt":"str"},{"t":"eq","v":"Наташтування","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":850,"y":360,"wires":[["4bd51b98.0aa81c"],[],[],[]]},{"id":"2c5ab8cc.bbdb98","type":"link in","z":"20ceb07d.429d5","name":"get_course","links":["81cff668.261bb8","4bd51b98.0aa81c"],"x":260,"y":260,"wires":[["30bf03d0.11e764"]]},{"id":"30bf03d0.11e764","type":"function","z":"20ceb07d.429d5","name":"confirmation message","func":"msg.payload.content = 'http://134.249.149.191/charts/08052020/line1588929948.png';\n\n//msg.payload.content = 'https://avatarko.ru/img/kartinka/2/cherep_ogon_1676.jpg';\n\n\nmsg.payload.type = 'photo';\nmsg.payload.caption = `<i>Готівковий курс ПриватБанку(в відділеннях):</i>`\n\nvar opts = {\n  parse_mode : \"HTML\",\n  reply_markup: JSON.stringify({\n    \"inline_keyboard\": [[\n                {\n                    \"text\": \"<<\",\n                    \"callback_data\": \"FOO YES\"            \n                }, \n                {\n                    \"text\": \"Monobank\",\n                    \"callback_data\": \"FOO NO\"\n                },\n                {\n                    \"text\": \">>\",\n                    \"callback_data\": \"FOO NO\"            \n                }]\n            ]\n  })\n};\n\nmsg.payload.options = opts;\n\nreturn [ msg ];\n","outputs":"1","noerr":0,"x":560,"y":260,"wires":[["72cf1be7.b6130c"]]},{"id":"c51f1786.3661d","type":"http request","z":"4e6420aa.234fe","name":"Get PB Exchange Rates","method":"GET","ret":"obj","paytoqs":false,"url":"https://api.privatbank.ua/p24api/pubinfo?json&exchange&coursid=5","tls":"","proxy":"","authType":"","x":350,"y":100,"wires":[["6168872b.5d2cc8"]]},{"id":"1a3c5cfd.50a6db","type":"inject","z":"4e6420aa.234fe","name":"inject cours ","topic":"","payload":"{}","payloadType":"json","repeat":"3600","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":100,"wires":[["c51f1786.3661d"]]},{"id":"1a8fb67c.598482","type":"function","z":"4e6420aa.234fe","name":"Response build","func":"if (msg.payload.ccy === 'RUR'){\n    msg.payload.ccy = 'RUB';\n}\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":100,"wires":[["9edb98c8.ac1c8"]]},{"id":"81866e19.82f57","type":"catch","z":"4e6420aa.234fe","name":"catch","scope":null,"uncaught":false,"x":110,"y":40,"wires":[["26ab36d6.2105e2"]]},{"id":"26ab36d6.2105e2","type":"debug","z":"4e6420aa.234fe","name":"catch","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":290,"y":40,"wires":[]},{"id":"907ed757.b27a58","type":"debug","z":"4e6420aa.234fe","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1170,"y":100,"wires":[]},{"id":"64284947.5457c8","type":"comment","z":"4e6420aa.234fe","name":"Получение курсов валют","info":"","x":550,"y":40,"wires":[]},{"id":"6168872b.5d2cc8","type":"split","z":"4e6420aa.234fe","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":550,"y":100,"wires":[["1a8fb67c.598482"]]},{"id":"f39b3426.cf8d8","type":"join","z":"4e6420aa.234fe","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1010,"y":100,"wires":[["907ed757.b27a58"]]},{"id":"4bd51b98.0aa81c","type":"link out","z":"17838c19.b5fd5c","name":"switch_main_menu","links":["2c5ab8cc.bbdb98"],"x":975,"y":280,"wires":[]},{"id":"72cf1be7.b6130c","type":"telegram sender","z":"20ceb07d.429d5","name":"Send_cours","bot":"f9c6a0d0.e7aa1","x":1130,"y":260,"wires":[["a42b3a07.56607"]]},{"id":"1af9055b.2668db","type":"telegram sender","z":"17838c19.b5fd5c","name":"send response","bot":"f9c6a0d0.e7aa1","x":500,"y":60,"wires":[["cadd75ea.a209d8"]]},{"id":"4d0a7292.e0616c","type":"function","z":"17838c19.b5fd5c","name":"send picture","func":"msg.payload.content = 'https://utmagazine.ru/uploads/content/%D0%9A%D0%92-1.png';\nmsg.payload.type = 'photo';\nmsg.payload.caption = `Привіт ${msg.originalMessage.from.first_name} 👋\nЯ твій персональний ділер бот, який був розроблений спеціально для допомоги у питаннях обміну валют. Я надам інформацію щоб зробити обмін валют максимально простою операциєю 🙌 `;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":40,"wires":[["1af9055b.2668db"]]},{"id":"cadd75ea.a209d8","type":"delay","z":"17838c19.b5fd5c","name":"delay 1 second","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":700,"y":60,"wires":[["9e957e44.dfbf6"]]},{"id":"d1ca31f5.59b788","type":"function","z":"17838c19.b5fd5c","name":"add sticker","func":"context.global.keyboard = { pending : true };\n\nmsg.payload.type = \"sticker\";\nmsg.payload.content = \"CAACAgIAAxkBAAIBFF6kiMAuk5qaFruNROcNhvpyM7NNAAL5BgACRvusBAXmf7zy8Nr1GQQ\";\n\nvar opts = {\n  reply_markup: JSON.stringify({\n    keyboard: [\n      ['Курси валют', 'Конвертер валют', 'Підписки'],\n      ['Наташтування']],\n      'resize_keyboard' : true, \n      'one_time_keyboard' : true\n  })\n};\n\nmsg.payload.options = opts;\n\nreturn msg;","outputs":1,"noerr":0,"x":895,"y":138,"wires":[["1490c21e.72bc0e"]]},{"id":"ce2445fb.5cba48","type":"delay","z":"17838c19.b5fd5c","name":"delay 1 second","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":705,"y":138,"wires":[["d1ca31f5.59b788"]]},{"id":"1490c21e.72bc0e","type":"telegram sender","z":"17838c19.b5fd5c","name":"send response","bot":"f9c6a0d0.e7aa1","x":1185,"y":138,"wires":[[]]},{"id":"3832c46.f9224bc","type":"redis-command","z":"17838c19.b5fd5c","server":"831f6c52.8309d","command":"hmset","name":"add new user","topic":"","params":"{}","paramsType":"json","payloadType":"json","block":false,"x":220,"y":180,"wires":[["f630ed36.ca6e8"]]},{"id":"f630ed36.ca6e8","type":"debug","z":"17838c19.b5fd5c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":410,"y":180,"wires":[]},{"id":"12e64d37.9ecee3","type":"function","z":"17838c19.b5fd5c","name":"Format data user","func":"msg.payload = msg.originalMessage.from;\nmsg.payload.add_user = new Date();\nmsg.topic = `user:${msg.originalMessage.from.id}`;\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":120,"wires":[["3832c46.f9224bc"]]},{"id":"87ae0268.12b6e","type":"debug","z":"17838c19.b5fd5c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":580,"y":960,"wires":[]},{"id":"f1f35fe3.27da8","type":"inject","z":"17838c19.b5fd5c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":900,"wires":[["b50b6a97.991b2"]]},{"id":"b50b6a97.991b2","type":"redis-command","z":"17838c19.b5fd5c","server":"831f6c52.8309d","command":"hgetall","name":"","topic":"user:402068128","params":"{}","paramsType":"json","payloadType":"json","block":false,"x":400,"y":960,"wires":[["87ae0268.12b6e"]]},{"id":"ccd30068.f32f","type":"function","z":"17838c19.b5fd5c","name":"add topic","func":"msg.data_msg = msg.payload;\nmsg.payload = \"\";\nmsg.topic = `user:${msg.originalMessage.from.id}`;\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":340,"wires":[["5cae0f2f.7b993"]]},{"id":"5cae0f2f.7b993","type":"redis-command","z":"17838c19.b5fd5c","server":"831f6c52.8309d","command":"hgetall","name":"get data user","topic":"","params":"{}","paramsType":"json","payloadType":"json","block":false,"x":370,"y":400,"wires":[["94ade505.8e8858"]]},{"id":"f3acd325.9e249","type":"postgrestor","z":"bdb5fcb3.a365c8","name":"insert exchange_rates","query":"insert into public.exchange_rates \n(bid, ask, trendask, trendbid, date, ccy_id, base_ccy_id, source_id) \nvalues \n('{{msg.payload.buy}}', '{{msg.payload.sale}}', null, null, now(), \n(select cc.id from public.currency_code cc where cc.ccy='{{msg.payload.ccy}}'), \n(select cc.id from public.currency_code cc where cc.ccy='{{msg.payload.base_ccy}}'), \n(select c.id from public.source c where c.source='privatbank'));","postgresDB":"e8ce4add.ee8c78","output":true,"outputs":1,"x":180,"y":40,"wires":[["f028c179.0c643"]]},{"id":"756db44c.2e1f5c","type":"link in","z":"bdb5fcb3.a365c8","name":"insert exchange_rates","links":["9edb98c8.ac1c8"],"x":35,"y":40,"wires":[["f3acd325.9e249"]]},{"id":"f028c179.0c643","type":"link out","z":"bdb5fcb3.a365c8","name":"insert exchange_rates","links":["c832c966.aaf368"],"x":415,"y":40,"wires":[]},{"id":"60d812e2.1f1ac4","type":"comment","z":"bdb5fcb3.a365c8","name":"Добавление курсов валют","info":"","x":650,"y":40,"wires":[]},{"id":"c832c966.aaf368","type":"link in","z":"4e6420aa.234fe","name":"insert exchange_rates","links":["f028c179.0c643"],"x":895,"y":100,"wires":[["f39b3426.cf8d8"]]},{"id":"9edb98c8.ac1c8","type":"link out","z":"4e6420aa.234fe","name":"insert exchange_rates","links":["756db44c.2e1f5c"],"x":855,"y":100,"wires":[]},{"id":"94ade505.8e8858","type":"change","z":"17838c19.b5fd5c","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"udata","tot":"msg"},{"t":"move","p":"data_msg","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":360,"wires":[["b4251398.e3d54"]]},{"id":"7c55bdf7.9e9284","type":"debug","z":"4e6420aa.234fe","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":690,"y":400,"wires":[]},{"id":"2e41b50a.61d972","type":"inject","z":"4e6420aa.234fe","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":360,"wires":[["c3b26311.b4dbe8"]]},{"id":"144d20f6.2754a7","type":"postgrestor","z":"bdb5fcb3.a365c8","name":"select last add exchange_rates","query":"select\ns.source, er.date, er.bid, er.ask, ss.ccy AS ccy, cur_base.ccy AS base_ssy\nFROM public.exchange_rates er\n    LEFT OUTER JOIN public.currency_code ss ON  (er.ccy_id = ss.id)\n    LEFT OUTER JOIN public.source s ON  (er.source_id = s.id)\n    LEFT OUTER JOIN public.currency_code cur_base ON  (er.base_ccy_id = cur_base.id)\nwhere s.source = 'privatbank' ORDER BY date DESC limit 4;","postgresDB":"e8ce4add.ee8c78","output":true,"outputs":1,"x":210,"y":100,"wires":[["4a6accc5.e873f4"]]},{"id":"e5c57130.32273","type":"link in","z":"bdb5fcb3.a365c8","name":"select last add exchange_rates","links":["db6e4014.0a1fc8"],"x":35,"y":100,"wires":[["144d20f6.2754a7"]]},{"id":"4a6accc5.e873f4","type":"link out","z":"bdb5fcb3.a365c8","name":"select last add exchange_rates","links":["200d269a.9c275a"],"x":415,"y":100,"wires":[]},{"id":"df4e4c5.c8b0b3","type":"comment","z":"bdb5fcb3.a365c8","name":"Получение последних добавленных курсов","info":"","x":710,"y":100,"wires":[]},{"id":"963d7b58.7a15c","type":"inject","z":"bdb5fcb3.a365c8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":360,"wires":[["db6e4014.0a1fc8"]]},{"id":"200d269a.9c275a","type":"link in","z":"bdb5fcb3.a365c8","name":"","links":["4a6accc5.e873f4"],"x":395,"y":380,"wires":[["2bfc650a.b9899a"]]},{"id":"db6e4014.0a1fc8","type":"link out","z":"bdb5fcb3.a365c8","name":"","links":["e5c57130.32273"],"x":300,"y":300,"wires":[]},{"id":"2bfc650a.b9899a","type":"debug","z":"bdb5fcb3.a365c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":560,"y":400,"wires":[]},{"id":"a42b3a07.56607","type":"debug","z":"20ceb07d.429d5","name":"2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1220,"y":400,"wires":[]},{"id":"9dc7dac6.54b418","type":"catch","z":"20ceb07d.429d5","name":"","scope":null,"uncaught":false,"x":120,"y":40,"wires":[["7b7c90f5.07d028"]]},{"id":"7b7c90f5.07d028","type":"debug","z":"20ceb07d.429d5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":310,"y":40,"wires":[]},{"id":"c3b26311.b4dbe8","type":"moment","z":"4e6420aa.234fe","name":"lasthours","topic":"","input":"payload","inputType":"msg","inTz":"Europe/Kiev","adjAmount":"1","adjType":"hours","adjDir":"subtract","format":"YYYY-MM-DD","locale":"POSIX","output":"lasthours","outputType":"msg","outTz":"Europe/Kiev","x":340,"y":360,"wires":[["72e032c8.a7a424"]]},{"id":"72e032c8.a7a424","type":"moment","z":"4e6420aa.234fe","name":"lastday","topic":"","input":"payload","inputType":"msg","inTz":"Europe/Kiev","adjAmount":"1","adjType":"days","adjDir":"subtract","format":"YYYY-MM-DD","locale":"POSIX","output":"lastday","outputType":"msg","outTz":"Europe/Kiev","x":340,"y":400,"wires":[["60326df9.10fd6c"]]},{"id":"60326df9.10fd6c","type":"moment","z":"4e6420aa.234fe","name":"lastweek","topic":"","input":"payload","inputType":"msg","inTz":"Europe/Kiev","adjAmount":"1","adjType":"weeks","adjDir":"subtract","format":"YYYY-MM-DD","locale":"POSIX","output":"lastweek","outputType":"msg","outTz":"Europe/Kiev","x":340,"y":440,"wires":[["2b1494ef.b7d164"]]},{"id":"2b1494ef.b7d164","type":"moment","z":"4e6420aa.234fe","name":"lastmonth","topic":"","input":"payload","inputType":"msg","inTz":"Europe/Kiev","adjAmount":"1","adjType":"months","adjDir":"subtract","format":"YYYY-MM-DD","locale":"POSIX","output":"lastmonth","outputType":"msg","outTz":"Europe/Kiev","x":340,"y":480,"wires":[["7c55bdf7.9e9284"]]}]