nodered/data/.flows.json.backup
[{"id":"17838c19.b5fd5c","type":"tab","label":"DealerBot","disabled":false,"info":""},{"id":"cfab6f58.ee43a","type":"tab","label":"HTML service","disabled":false,"info":""},{"id":"20ceb07d.429d5","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"831f6c52.8309d","type":"redis-config","z":"","name":"redis-global","options":"{\"host\":\"redis\",\"port\":6379}","cluster":false,"optionsType":"json"},{"id":"aef21b2.aec0768","type":"telegram bot","z":"","botname":"Disaster Recovery Plan","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"f9c6a0d0.e7aa1","type":"telegram bot","z":"17838c19.b5fd5c","botname":"DileroBot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"","usesocks":false,"sockshost":"","socksport":"","socksusername":"","sockspassword":"","bothost":"","localbotport":"","publicbotport":"","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"e8ce4add.ee8c78","type":"postgresDB","z":"","name":"postgresql","host":"postgres","port":"5432","database":"dealer","ssl":false,"max":"10","min":1,"idle":"1000"},{"id":"a39e0790.966078","type":"telegram bot","z":"","botname":"HeinzBot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":true},{"id":"93187d92.81d85","type":"http request","z":"17838c19.b5fd5c","name":"Get PB Exchange Rates","method":"GET","ret":"obj","paytoqs":false,"url":"https://api.privatbank.ua/p24api/pubinfo?json&exchange&coursid=5","tls":"","proxy":"","authType":"","x":330,"y":140,"wires":[["c7c00ed6.7c2c6"]]},{"id":"de8aa6a1.9d379","type":"inject","z":"17838c19.b5fd5c","name":"inject cours ","topic":"","payload":"{}","payloadType":"json","repeat":"3600","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":140,"wires":[["93187d92.81d85"]]},{"id":"aa4253c8.76d2b","type":"function","z":"17838c19.b5fd5c","name":"Response build","func":"if (msg.payload.ccy === 'RUR'){\n    msg.payload.ccy = 'RUB';\n}\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":140,"wires":[["51ce7b73.0c01a4"]]},{"id":"d5e4d6e4.fc66c","type":"catch","z":"17838c19.b5fd5c","name":"catch","scope":null,"uncaught":false,"x":70,"y":40,"wires":[["a7ab2cde.737df"]]},{"id":"a7ab2cde.737df","type":"debug","z":"17838c19.b5fd5c","name":"catch","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":250,"y":40,"wires":[]},{"id":"17937e4a.f5f4da","type":"debug","z":"17838c19.b5fd5c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1270,"y":140,"wires":[]},{"id":"25697bba.79eb5c","type":"debug","z":"17838c19.b5fd5c","name":"Create client","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1210,"y":820,"wires":[]},{"id":"51675112.ebfdc8","type":"redis-command","z":"17838c19.b5fd5c","server":"831f6c52.8309d","command":"hmset","name":"Create client","topic":"","params":"{}","paramsType":"json","payloadType":"json","block":false,"x":1210,"y":760,"wires":[["25697bba.79eb5c"]]},{"id":"f41c00c0.1b2de8","type":"function","z":"17838c19.b5fd5c","name":"Build client data","func":"msg.payload = {\n    date: msg.originalMessage.date,\n    first_name: msg.originalMessage.chat.first_name,\n    username: msg.originalMessage.chat.username,\n    message_id: msg.originalMessage.from.message_id,\n    chatId: msg.originalMessage.from.id\n};\n\nif(!msg.topic){\n   msg.topic = \"client:\" + msg.payload.chatId; \n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1020,"y":760,"wires":[["51675112.ebfdc8"]]},{"id":"96dfd1c8.b1d558","type":"switch","z":"17838c19.b5fd5c","name":"Find command","property":"originalMessage.text","propertyType":"msg","rules":[{"t":"eq","v":"/start","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":800,"y":760,"wires":[["f41c00c0.1b2de8"],["fdd275fc.82c208"]]},{"id":"fdd275fc.82c208","type":"debug","z":"17838c19.b5fd5c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":810,"y":820,"wires":[]},{"id":"3a2b1d66.9aeffa","type":"redis-command","z":"17838c19.b5fd5c","server":"831f6c52.8309d","command":"hgetall","name":"Find client","topic":"","params":"{}","paramsType":"json","payloadType":"json","block":false,"x":410,"y":760,"wires":[["523abb6a.4456a4"]]},{"id":"4c869d38.b6d714","type":"function","z":"17838c19.b5fd5c","name":"build key redis","func":"msg.topic = String(\"client:\" + msg.payload.chatId);\nmsg.payload = false;\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":760,"wires":[["3a2b1d66.9aeffa"]]},{"id":"523abb6a.4456a4","type":"change","z":"17838c19.b5fd5c","name":"","rules":[{"t":"set","p":"client","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":760,"wires":[["96dfd1c8.b1d558"]]},{"id":"a6d6ec0d.c9e8d8","type":"comment","z":"17838c19.b5fd5c","name":"Получение курсов валют","info":"","x":1290,"y":80,"wires":[]},{"id":"c7c00ed6.7c2c6","type":"split","z":"17838c19.b5fd5c","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":530,"y":140,"wires":[["aa4253c8.76d2b"]]},{"id":"761e64b.f29471c","type":"template","z":"cfab6f58.ee43a","name":"Форма ","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":" <!DOCTYPE html>\n<html>\n<body>\n\n <form action=\"/add\" method=\"post\">\n  <label for=\"code\">Коды валют:</label><br>\n  <input type=\"text\" id=\"code\" name=\"code\" placeholder=\"980\"><br>\n  <label for=\"code\">Коды валют:</label><br>\n  <input type=\"text\" id=\"code_title\" name=\"code_title\" placeholder=\"UAH\"><br>\n  <label for=\"title\">Наименование:</label><br>\n  <input type=\"text\" id=\"title\" name=\"title\" placeholder=\"Украинская гривна\"><br><br>\n  <input type=\"submit\" value=\"Save\">\n</form> \n\n</body>\n</html> ","output":"str","x":620,"y":160,"wires":[["5f3acafd.7a4b24"]]},{"id":"392d4905.d828f6","type":"http in","z":"cfab6f58.ee43a","name":"[GET] /getcours Страница формы","url":"/getcours","method":"get","upload":false,"swaggerDoc":"","x":220,"y":160,"wires":[["761e64b.f29471c"]]},{"id":"5f3acafd.7a4b24","type":"http response","z":"cfab6f58.ee43a","name":"Фозврат результата","statusCode":"","headers":{},"x":820,"y":160,"wires":[]},{"id":"cb5170f0.84a538","type":"http in","z":"cfab6f58.ee43a","name":"[POST] /add Получение данных из формы","url":"/add","method":"post","upload":false,"swaggerDoc":"","x":250,"y":220,"wires":[["c7fab08b.2dbd88","761e64b.f29471c"]]},{"id":"5ba9818c.f9a878","type":"catch","z":"cfab6f58.ee43a","name":"Поиск ошибок","scope":null,"uncaught":false,"x":160,"y":80,"wires":[["6c468530.cf3c84"]]},{"id":"6c468530.cf3c84","type":"template","z":"cfab6f58.ee43a","name":"Форма ","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":" <!DOCTYPE html>\n<html>\n<body>\n<h1>502</h1>\n</body>\n</html> ","output":"str","x":320,"y":80,"wires":[["efa21bc4.a988e8"]]},{"id":"efa21bc4.a988e8","type":"http response","z":"cfab6f58.ee43a","name":"Фозврат результата","statusCode":"","headers":{},"x":520,"y":80,"wires":[]},{"id":"cececf81.35c068","type":"debug","z":"cfab6f58.ee43a","name":"create db","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":640,"y":320,"wires":[]},{"id":"c7fab08b.2dbd88","type":"postgrestor","z":"cfab6f58.ee43a","name":"Insert code","query":"insert into ccy_code(code, ccy, description) values ({{msg.payload.code}}, '{{msg.payload.code_title}}', '{{msg.payload.title}}');","postgresDB":"e8ce4add.ee8c78","output":true,"outputs":1,"x":370,"y":320,"wires":[["cececf81.35c068"]]},{"id":"51ce7b73.0c01a4","type":"postgrestor","z":"17838c19.b5fd5c","name":"insert exchange_rates","query":"insert into public.exchange_rates \n(bid, ask, trendask, trendbid, date, ccy_id, base_ccy_id, source_id) \nvalues \n('{{msg.payload.buy}}', '{{msg.payload.sale}}', null, null, now(), \n(select cc.id from public.currency_code cc where cc.ccy='{{msg.payload.ccy}}'), \n(select cc.id from public.currency_code cc where cc.ccy='{{msg.payload.base_ccy}}'), \n(select c.id from public.source c where c.source='privatbank'));","postgresDB":"e8ce4add.ee8c78","output":true,"outputs":1,"x":920,"y":140,"wires":[["736126e7.e96a18"]]},{"id":"736126e7.e96a18","type":"join","z":"17838c19.b5fd5c","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1110,"y":140,"wires":[["17937e4a.f5f4da"]]},{"id":"9e957e44.dfbf6","type":"function","z":"17838c19.b5fd5c","name":"confirmation message","func":"context.global.keyboard = { pending : true };\n\nvar opts = {\n  //reply_to_message_id: msg.payload.messageId,\n  reply_markup: JSON.stringify({\n    keyboard: [\n      ['Курсы валют', 'Конвертер валют'],\n      ['Настройки']],\n      'resize_keyboard' : true, \n      'one_time_keyboard' : true\n  })\n};\n\nmsg.payload.content = 'Really?';\nmsg.payload.options = opts;\n\nreturn [ msg ];\n","outputs":"1","noerr":0,"x":360,"y":260,"wires":[["aa00b0ca.c4181"]]},{"id":"aa00b0ca.c4181","type":"telegram sender","z":"17838c19.b5fd5c","name":"send response","bot":"f9c6a0d0.e7aa1","x":600,"y":260,"wires":[[]]},{"id":"f3826dfd.cb24e8","type":"telegram event","z":"17838c19.b5fd5c","name":"","bot":"f9c6a0d0.e7aa1","event":"callback_query","autoanswer":true,"x":380,"y":1020,"wires":[["f2fa7fdf.31d39","d2a87dea.10f11"]]},{"id":"7ea18ad4.1f28b4","type":"telegram sender","z":"17838c19.b5fd5c","name":"show inline keyboard","bot":"f9c6a0d0.e7aa1","x":920,"y":960,"wires":[["22649617.95de3a"]]},{"id":"910db00b.a9e6b8","type":"function","z":"17838c19.b5fd5c","name":"inline keyboard message","func":"var opts = {\n  //reply_to_message_id: msg.payload.messageId,\n  reply_markup: JSON.stringify({\n    \"inline_keyboard\": [[\n                {\n                    \"text\": \"<<\",\n                    \"callback_data\": \"FOO YES\"            \n                }, \n                {\n                    \"text\": \"Monobank\",\n                    \"callback_data\": \"FOO NO\"\n                },\n                {\n                    \"text\": \">>\",\n                    \"callback_data\": \"FOO NO\"            \n                }]\n            ]\n  })\n};\n\nmsg.payload.content = 'Are you sure?';\nmsg.payload.options = opts;\n\nreturn [ msg ];\n","outputs":"1","noerr":0,"x":630,"y":920,"wires":[["7ea18ad4.1f28b4"]]},{"id":"898755d9.453758","type":"telegram command","z":"17838c19.b5fd5c","name":"/fo","command":"/fo","bot":"f9c6a0d0.e7aa1","strict":false,"hasresponse":false,"x":330,"y":840,"wires":[["910db00b.a9e6b8","f0abc0ff.a830d"],[]]},{"id":"f2fa7fdf.31d39","type":"function","z":"17838c19.b5fd5c","name":"set  answer options","func":"var opts = {\n  //reply_to_message_id: msg.payload.messageId,\n  reply_markup: JSON.stringify({\n    \"inline_keyboard\": [[\n                {\n                    \"text\": \"<<\",\n                    \"callback_data\": \"FOO YES\"            \n                }, \n                {\n                    \"text\": \"Monobank\",\n                    \"callback_data\": \"FOO NO\"\n                }]\n            ]\n  })\n};\n\nmsg.payload.content = 'Are you sure?';\nmsg.payload.options = opts;\n\nreturn [ msg ];\n","outputs":"1","noerr":0,"x":630,"y":1020,"wires":[["d8784b81.4741a8"]]},{"id":"d8784b81.4741a8","type":"telegram sender","z":"17838c19.b5fd5c","name":"answer callback query","bot":"f9c6a0d0.e7aa1","x":920,"y":1020,"wires":[[]]},{"id":"22649617.95de3a","type":"debug","z":"17838c19.b5fd5c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1130,"y":960,"wires":[]},{"id":"5b64e1d.19e9aa","type":"telegram command","z":"17838c19.b5fd5c","name":"Command [/start]","command":"/start","bot":"f9c6a0d0.e7aa1","strict":false,"hasresponse":false,"x":120,"y":260,"wires":[["9e957e44.dfbf6"]]},{"id":"d2a87dea.10f11","type":"debug","z":"17838c19.b5fd5c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":560,"y":1120,"wires":[]},{"id":"f0abc0ff.a830d","type":"debug","z":"17838c19.b5fd5c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":350,"y":940,"wires":[]},{"id":"747439d5.98948","type":"telegram receiver","z":"17838c19.b5fd5c","name":"","bot":"f9c6a0d0.e7aa1","saveDataDir":"","x":150,"y":460,"wires":[["b4251398.e3d54"],[]]},{"id":"2cbcc4d6.70b564","type":"function","z":"17838c19.b5fd5c","name":"confirmation message","func":"var opts = {\n  reply_markup: JSON.stringify({\n    \"inline_keyboard\": [[\n                {\n                    \"text\": \"<<\",\n                    \"callback_data\": \"FOO YES\"            \n                }, \n                {\n                    \"text\": \"Monobank\",\n                    \"callback_data\": \"FOO NO\"\n                },\n                {\n                    \"text\": \">>\",\n                    \"callback_data\": \"FOO NO\"            \n                }]\n            ]\n  })\n};\n\nmsg.payload.content = 'Курсы валют';\nmsg.payload.options = opts;\n\nreturn [ msg ];\n","outputs":"1","noerr":0,"x":580,"y":360,"wires":[["806a865d.4aac88"]]},{"id":"b4251398.e3d54","type":"switch","z":"17838c19.b5fd5c","name":"","property":"payload.content","propertyType":"msg","rules":[{"t":"eq","v":"Курсы валют","vt":"str"},{"t":"eq","v":"Конвертер валют","vt":"str"},{"t":"eq","v":"Настройки","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":350,"y":460,"wires":[["2cbcc4d6.70b564"],["e86040e5.cfbc4"],["fc8440a0.7e201"]]},{"id":"e86040e5.cfbc4","type":"function","z":"17838c19.b5fd5c","name":"confirmation message","func":"context.global.keyboard = { pending : true };\n\nvar opts = {\n  //reply_to_message_id: msg.payload.messageId,\n  reply_markup: JSON.stringify({\n    keyboard: [\n      ['Курсы', 'Конвертер'],\n      ['Настройки']],\n      'resize_keyboard' : true, \n      'one_time_keyboard' : true\n  })\n};\n\nmsg.payload.content = 'Really?';\nmsg.payload.options = opts;\n\nreturn [ msg ];\n","outputs":"1","noerr":0,"x":580,"y":420,"wires":[["806a865d.4aac88"]]},{"id":"fc8440a0.7e201","type":"function","z":"17838c19.b5fd5c","name":"confirmation message","func":"context.global.keyboard = { pending : true };\n\nvar opts = {\n  //reply_to_message_id: msg.payload.messageId,\n  reply_markup: JSON.stringify({\n    keyboard: [\n      ['Курсы', 'Конвертер'],\n      ['Настройки']],\n      'resize_keyboard' : true, \n      'one_time_keyboard' : true\n  })\n};\n\nmsg.payload.content = 'Really?';\nmsg.payload.options = opts;\n\nreturn [ msg ];\n","outputs":"1","noerr":0,"x":580,"y":480,"wires":[["806a865d.4aac88"]]},{"id":"806a865d.4aac88","type":"telegram sender","z":"17838c19.b5fd5c","name":"send response","bot":"f9c6a0d0.e7aa1","x":860,"y":460,"wires":[[]]}]