nodered/data/flows.json
[{"id":"17838c19.b5fd5c","type":"tab","label":"main","disabled":false,"info":""},{"id":"20ceb07d.429d5","type":"tab","label":"get_cours","disabled":false,"info":""},{"id":"4e6420aa.234fe","type":"tab","label":"request_course","disabled":false,"info":""},{"id":"85f1ad26.1cd28","type":"tab","label":"inline_keyboard","disabled":false,"info":""},{"id":"bdb5fcb3.a365c8","type":"tab","label":"database","disabled":false,"info":""},{"id":"831f6c52.8309d","type":"redis-config","z":"","name":"redis-global","options":"{\"host\":\"redis\",\"port\":6379}","cluster":false,"optionsType":"json"},{"id":"aef21b2.aec0768","type":"telegram bot","z":"","botname":"Disaster Recovery Plan","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"f9c6a0d0.e7aa1","type":"telegram bot","z":"","botname":"DileroBot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"","usesocks":false,"sockshost":"","socksport":"","socksusername":"","sockspassword":"","bothost":"","localbotport":"","publicbotport":"","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"e8ce4add.ee8c78","type":"postgresDB","z":"","name":"postgresql","host":"postgres","port":"5432","database":"dealer","ssl":false,"max":"10","min":1,"idle":"1000"},{"id":"25697bba.79eb5c","type":"debug","z":"17838c19.b5fd5c","name":"Create client","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1210,"y":820,"wires":[]},{"id":"51675112.ebfdc8","type":"redis-command","z":"17838c19.b5fd5c","server":"831f6c52.8309d","command":"hmset","name":"Create client","topic":"","params":"{}","paramsType":"json","payloadType":"json","block":false,"x":1210,"y":760,"wires":[["25697bba.79eb5c"]]},{"id":"f41c00c0.1b2de8","type":"function","z":"17838c19.b5fd5c","name":"Build client data","func":"msg.payload = {\n    date: msg.originalMessage.date,\n    first_name: msg.originalMessage.chat.first_name,\n    username: msg.originalMessage.chat.username,\n    message_id: msg.originalMessage.from.message_id,\n    chatId: msg.originalMessage.from.id\n};\n\nif(!msg.topic){\n   msg.topic = \"client:\" + msg.payload.chatId; \n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1020,"y":760,"wires":[["51675112.ebfdc8"]]},{"id":"96dfd1c8.b1d558","type":"switch","z":"17838c19.b5fd5c","name":"Find command","property":"originalMessage.text","propertyType":"msg","rules":[{"t":"eq","v":"/start","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":800,"y":760,"wires":[["f41c00c0.1b2de8"],["fdd275fc.82c208"]]},{"id":"fdd275fc.82c208","type":"debug","z":"17838c19.b5fd5c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":810,"y":820,"wires":[]},{"id":"3a2b1d66.9aeffa","type":"redis-command","z":"17838c19.b5fd5c","server":"831f6c52.8309d","command":"hgetall","name":"Find client","topic":"","params":"{}","paramsType":"json","payloadType":"json","block":false,"x":410,"y":760,"wires":[["523abb6a.4456a4"]]},{"id":"4c869d38.b6d714","type":"function","z":"17838c19.b5fd5c","name":"build key redis","func":"msg.topic = String(\"client:\" + msg.payload.chatId);\nmsg.payload = false;\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":760,"wires":[["3a2b1d66.9aeffa"]]},{"id":"523abb6a.4456a4","type":"change","z":"17838c19.b5fd5c","name":"","rules":[{"t":"set","p":"client","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":760,"wires":[["96dfd1c8.b1d558"]]},{"id":"9e957e44.dfbf6","type":"function","z":"17838c19.b5fd5c","name":"confirmation message","func":"msg.payload.type = \"message\"\n\nvar hellomassage = \"Ти можешь взаємодіяти з ботом декількома способами:\\r\\n \";\nhellomassage += \"\\r\\n\";\nhellomassage += \"1. Введи з клавіатури символ / та обери команду для бота. Якщо потрібна допомога да більш детальний опис команд, то відправ в чат команду /help .\\r\\n\"; \nhellomassage += \"2. Щоб скористатися ботом в будьякому чаті с друзями, або с партнерами, просто набери в необхідному чати назву бота @dilero_bot та введи необхідну сумму для конвертації\\r\\n\";\nhellomassage += \"3. Або ти можешь скористатися клавіатурою бота, котора в декілька кліків допоможе виконати будьяку операцию.\\r\\n\";\nhellomassage += \"\\r\\n\";\nhellomassage += \"Давай починати! Обери необхідну команду на клавіатурі та тицяй на неї...\"\n\nmsg.payload.content = hellomassage;\n\nreturn [ msg ];\n","outputs":"1","noerr":0,"x":920,"y":60,"wires":[["aa00b0ca.c4181"]]},{"id":"aa00b0ca.c4181","type":"telegram sender","z":"17838c19.b5fd5c","name":"send response","bot":"f9c6a0d0.e7aa1","x":1180,"y":60,"wires":[["ce2445fb.5cba48"]]},{"id":"5b64e1d.19e9aa","type":"telegram command","z":"17838c19.b5fd5c","name":"Command [/start]","command":"/start","bot":"f9c6a0d0.e7aa1","strict":false,"hasresponse":false,"x":120,"y":60,"wires":[["12e64d37.9ecee3","4d0a7292.e0616c"],[]]},{"id":"747439d5.98948","type":"telegram receiver","z":"17838c19.b5fd5c","name":"Get all massage","bot":"f9c6a0d0.e7aa1","saveDataDir":"","x":140,"y":360,"wires":[["ccd30068.f32f"],[]]},{"id":"b4251398.e3d54","type":"switch","z":"17838c19.b5fd5c","name":"","property":"originalMessage.text","propertyType":"msg","rules":[{"t":"eq","v":"Курси валют","vt":"str"},{"t":"eq","v":"Конвертер валют","vt":"str"},{"t":"eq","v":"Підписки","vt":"str"},{"t":"eq","v":"Наташтування","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":850,"y":360,"wires":[["4bd51b98.0aa81c"],[],[],[]]},{"id":"2c5ab8cc.bbdb98","type":"link in","z":"20ceb07d.429d5","name":"get_course","links":["81cff668.261bb8","4bd51b98.0aa81c"],"x":75,"y":120,"wires":[["23f124a0.dc5654"]]},{"id":"30bf03d0.11e764","type":"function","z":"20ceb07d.429d5","name":"confirmation message","func":"var tmp = msg.payload\nmsg.payload = msg.data_msg\n\nmsg.payload.content = 'http://porpita.pp.ua/charts/12052020/line1589269395.png';\nmsg.payload.type = 'photo';\nmsg.payload.caption = tmp.html;\n\nvar opts = {\n  parse_mode : \"HTML\",\n  reply_markup: JSON.stringify({\n    \"inline_keyboard\": [[\n                {\n                    \"text\": \"<<\",\n                    \"callback_data\": \"FOO YES\"            \n                }, \n                {\n                    \"text\": \"Monobank\",\n                    \"callback_data\": \"FOO NO\"\n                },\n                {\n                    \"text\": \">>\",\n                    \"callback_data\": \"FOO NO\"            \n                }]\n            ]\n  })\n};\n\nmsg.payload.options = opts;\n\nreturn [ msg ];\n","outputs":"1","noerr":0,"x":520,"y":120,"wires":[["72cf1be7.b6130c"]]},{"id":"c51f1786.3661d","type":"http request","z":"4e6420aa.234fe","name":"Get PB Exchange Rates","method":"GET","ret":"obj","paytoqs":false,"url":"https://api.privatbank.ua/p24api/pubinfo?json&exchange&coursid=5","tls":"","proxy":"","authType":"","x":350,"y":100,"wires":[["6168872b.5d2cc8"]]},{"id":"1a3c5cfd.50a6db","type":"inject","z":"4e6420aa.234fe","name":"inject cours ","topic":"","payload":"{}","payloadType":"json","repeat":"3600","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":100,"wires":[["c51f1786.3661d"]]},{"id":"1a8fb67c.598482","type":"function","z":"4e6420aa.234fe","name":"Response build","func":"if (msg.payload.ccy === 'RUR'){\n    msg.payload.ccy = 'RUB';\n}\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":100,"wires":[["9edb98c8.ac1c8"]]},{"id":"81866e19.82f57","type":"catch","z":"4e6420aa.234fe","name":"catch","scope":null,"uncaught":false,"x":110,"y":40,"wires":[["26ab36d6.2105e2"]]},{"id":"26ab36d6.2105e2","type":"debug","z":"4e6420aa.234fe","name":"catch","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":290,"y":40,"wires":[]},{"id":"907ed757.b27a58","type":"debug","z":"4e6420aa.234fe","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1170,"y":100,"wires":[]},{"id":"64284947.5457c8","type":"comment","z":"4e6420aa.234fe","name":"Получение курсов валют","info":"","x":550,"y":40,"wires":[]},{"id":"6168872b.5d2cc8","type":"split","z":"4e6420aa.234fe","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":550,"y":100,"wires":[["1a8fb67c.598482"]]},{"id":"f39b3426.cf8d8","type":"join","z":"4e6420aa.234fe","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1010,"y":100,"wires":[["907ed757.b27a58"]]},{"id":"4bd51b98.0aa81c","type":"link out","z":"17838c19.b5fd5c","name":"switch_main_menu","links":["2c5ab8cc.bbdb98"],"x":975,"y":280,"wires":[]},{"id":"72cf1be7.b6130c","type":"telegram sender","z":"20ceb07d.429d5","name":"Send_cours","bot":"f9c6a0d0.e7aa1","x":730,"y":120,"wires":[[]]},{"id":"1af9055b.2668db","type":"telegram sender","z":"17838c19.b5fd5c","name":"send response","bot":"f9c6a0d0.e7aa1","x":500,"y":60,"wires":[["cadd75ea.a209d8"]]},{"id":"4d0a7292.e0616c","type":"function","z":"17838c19.b5fd5c","name":"send picture","func":"msg.payload.content = 'https://utmagazine.ru/uploads/content/%D0%9A%D0%92-1.png';\nmsg.payload.type = 'photo';\nmsg.payload.caption = `Привіт ${msg.originalMessage.from.first_name} 👋\nЯ твій персональний ділер бот, який був розроблений спеціально для допомоги у питаннях обміну валют. Я надам інформацію щоб зробити обмін валют максимально простою операциєю 🙌 `;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":40,"wires":[["1af9055b.2668db"]]},{"id":"cadd75ea.a209d8","type":"delay","z":"17838c19.b5fd5c","name":"delay 1 second","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":700,"y":60,"wires":[["9e957e44.dfbf6"]]},{"id":"d1ca31f5.59b788","type":"function","z":"17838c19.b5fd5c","name":"add sticker","func":"context.global.keyboard = { pending : true };\n\nmsg.payload.type = \"sticker\";\nmsg.payload.content = \"CAACAgIAAxkBAAIBFF6kiMAuk5qaFruNROcNhvpyM7NNAAL5BgACRvusBAXmf7zy8Nr1GQQ\";\n\nvar opts = {\n  reply_markup: JSON.stringify({\n    keyboard: [\n      ['Курси валют', 'Конвертер валют', 'Підписки'],\n      ['Наташтування']],\n      'resize_keyboard' : true, \n      'one_time_keyboard' : true\n  })\n};\n\nmsg.payload.options = opts;\n\nreturn msg;","outputs":1,"noerr":0,"x":895,"y":138,"wires":[["1490c21e.72bc0e"]]},{"id":"ce2445fb.5cba48","type":"delay","z":"17838c19.b5fd5c","name":"delay 1 second","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":705,"y":138,"wires":[["d1ca31f5.59b788"]]},{"id":"1490c21e.72bc0e","type":"telegram sender","z":"17838c19.b5fd5c","name":"send response","bot":"f9c6a0d0.e7aa1","x":1185,"y":138,"wires":[[]]},{"id":"3832c46.f9224bc","type":"redis-command","z":"17838c19.b5fd5c","server":"831f6c52.8309d","command":"hmset","name":"add new user","topic":"","params":"{}","paramsType":"json","payloadType":"json","block":false,"x":220,"y":180,"wires":[["f630ed36.ca6e8"]]},{"id":"f630ed36.ca6e8","type":"debug","z":"17838c19.b5fd5c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":430,"y":180,"wires":[]},{"id":"12e64d37.9ecee3","type":"function","z":"17838c19.b5fd5c","name":"Format data user","func":"msg.payload = msg.originalMessage.from;\nmsg.payload.add_user = new Date();\nmsg.topic = `user:${msg.originalMessage.from.id}`;\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":120,"wires":[["3832c46.f9224bc"]]},{"id":"87ae0268.12b6e","type":"debug","z":"17838c19.b5fd5c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":580,"y":960,"wires":[]},{"id":"f1f35fe3.27da8","type":"inject","z":"17838c19.b5fd5c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":900,"wires":[["b50b6a97.991b2"]]},{"id":"b50b6a97.991b2","type":"redis-command","z":"17838c19.b5fd5c","server":"831f6c52.8309d","command":"hgetall","name":"","topic":"user:402068128","params":"{}","paramsType":"json","payloadType":"json","block":false,"x":400,"y":960,"wires":[["87ae0268.12b6e"]]},{"id":"ccd30068.f32f","type":"function","z":"17838c19.b5fd5c","name":"add topic","func":"msg.data_msg = msg.payload;\nmsg.payload = \"\";\nmsg.topic = `user:${msg.originalMessage.from.id}`;\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":340,"wires":[["5cae0f2f.7b993"]]},{"id":"5cae0f2f.7b993","type":"redis-command","z":"17838c19.b5fd5c","server":"831f6c52.8309d","command":"hgetall","name":"get data user","topic":"","params":"{}","paramsType":"json","payloadType":"json","block":false,"x":370,"y":400,"wires":[["9fc0db3f.2edce"]]},{"id":"f3acd325.9e249","type":"postgrestor","z":"bdb5fcb3.a365c8","name":"insert exchange_rates","query":"insert into public.exchange_rates \n(bid, ask, trendask, trendbid, date, ccy_id, base_ccy_id, source_id) \nvalues \n('{{msg.payload.buy}}', '{{msg.payload.sale}}', null, null, now(), \n(select cc.id from public.currency_code cc where cc.ccy='{{msg.payload.ccy}}'), \n(select cc.id from public.currency_code cc where cc.ccy='{{msg.payload.base_ccy}}'), \n(select c.id from public.source c where c.source='privatbank'));","postgresDB":"e8ce4add.ee8c78","output":true,"outputs":1,"x":180,"y":40,"wires":[["f028c179.0c643"]]},{"id":"756db44c.2e1f5c","type":"link in","z":"bdb5fcb3.a365c8","name":"insert exchange_rates","links":["9edb98c8.ac1c8"],"x":35,"y":40,"wires":[["f3acd325.9e249"]]},{"id":"f028c179.0c643","type":"link out","z":"bdb5fcb3.a365c8","name":"insert exchange_rates","links":["c832c966.aaf368"],"x":515,"y":40,"wires":[]},{"id":"60d812e2.1f1ac4","type":"comment","z":"bdb5fcb3.a365c8","name":"Добавление курсов валют","info":"","x":830,"y":40,"wires":[]},{"id":"c832c966.aaf368","type":"link in","z":"4e6420aa.234fe","name":"insert exchange_rates","links":["f028c179.0c643"],"x":895,"y":100,"wires":[["f39b3426.cf8d8"]]},{"id":"9edb98c8.ac1c8","type":"link out","z":"4e6420aa.234fe","name":"insert exchange_rates","links":["756db44c.2e1f5c"],"x":855,"y":100,"wires":[]},{"id":"144d20f6.2754a7","type":"postgrestor","z":"bdb5fcb3.a365c8","name":"select last add exchange_rates","query":"SELECT SOURCE.source                                      AS source\n     , CURENCY_CODE.ccy                                   AS ccy_code\n     , CURENCY_CODE_BASE.ccy                              AS ccy_code_base\n\n     , (avg(LAST_HOUR.bid)::numeric(10, 2) - DAY_AGO.bid) AS trend_bid_day\n     , (avg(LAST_HOUR.asK)::numeric(10, 2) - DAY_AGO.ask) AS trend_asc_day\n\n     , avg(LAST_HOUR.bid)::numeric(10, 2)                 AS bid_last_hour\n     , avg(LAST_HOUR.ask)::numeric(10, 2)                 AS ask_last_hour\n\n     , max(date_trunc('minute', LAST_HOUR.date))          AS date_last_hour\n--      , ((avg(LAST_HOUR.bid) + avg(LAST_HOUR.ask)) / 2)::numeric(10, 2) AS avg_last_hour\n--\n--      , (avg(LAST_HOUR.bid)::numeric(10, 2) - HOUR_AGO.bid)             AS trend_bid_hour\n--      , (avg(LAST_HOUR.asK)::numeric(10, 2) - HOUR_AGO.ask)             AS trend_asc_hour\n--\n--      , HOUR_AGO.bid                                                    AS bid_hour_ago\n--      , HOUR_AGO.ask                                                    AS ask_hour_ago\n--      , HOUR_AGO.date                                                   AS date_hour_ago\n\n--      , DAY_AGO.bid                                                     AS bid_day_ago\n--      , DAY_AGO.ask                                                     AS ask_day_ago\n--      , DAY_AGO.date_day                                                AS date_day_ago\n\nFROM public.exchange_rates LAST_HOUR\n         LEFT OUTER JOIN public.currency_code CURENCY_CODE ON (LAST_HOUR.ccy_id = CURENCY_CODE.id)\n         LEFT OUTER JOIN public.source SOURCE ON (LAST_HOUR.source_id = SOURCE.id)\n         LEFT OUTER JOIN public.currency_code CURENCY_CODE_BASE ON (LAST_HOUR.base_ccy_id = CURENCY_CODE_BASE.id)\n         LEFT OUTER JOIN (SELECT avg(bid)::numeric(10, 2)   AS bid,\n                                 avg(ask)::numeric(10, 2)   AS ask,\n                                 date_trunc('minute', date) AS date,\n                                 ccy_id                     AS ccy_id,\n                                 base_ccy_id                AS base_ccy_id\n                          FROM public.exchange_rates\n                          WHERE date::timestamp >= date_trunc('minute', (now()::timestamp - '2 hour'::interval))\n                            AND date::timestamp < date_trunc('minute', (now()::timestamp - '1 hour'::interval))\n                          GROUP BY bid, ask, date, ccy_id, base_ccy_id) HOUR_AGO\n                         ON (LAST_HOUR.ccy_id = HOUR_AGO.ccy_id AND\n                             LAST_HOUR.base_ccy_id = HOUR_AGO.base_ccy_id)\n\n         LEFT OUTER JOIN (SELECT avg(bid)::numeric(10, 2)                    AS bid\n                               , avg(ask)::numeric(10, 2)                    AS ask\n                               , ((avg(bid) + avg(ask)) / 2)::numeric(10, 2) AS cours\n                               , ccy_id                                      AS ccy_id\n                               , base_ccy_id                                 AS base_ccy\n                               , date_part('day', date)                      AS date_day\n                          FROM exchange_rates\n                          WHERE date::timestamp >= date_trunc('day', current_timestamp - interval '1 day')\n                            AND date::timestamp < date_trunc('day', current_timestamp)\n                          GROUP BY ccy_id, base_ccy_id, date_day) DAY_AGO\n                         ON (LAST_HOUR.ccy_id = DAY_AGO.ccy_id)\n\nWHERE LAST_HOUR.date::timestamp >= date_trunc('minute', (now()::timestamp - '1 hour'::interval))\n  AND LAST_HOUR.date::timestamp < date_trunc('minute', now()::timestamp)\n\nGROUP BY ccy_code\n       , source\n       , curency_code_base.ccy\n       , day_ago.bid\n       , day_ago.ask","postgresDB":"e8ce4add.ee8c78","output":true,"outputs":1,"x":210,"y":100,"wires":[["9c3e4bbc.11c8c8"]]},{"id":"e5c57130.32273","type":"link in","z":"bdb5fcb3.a365c8","name":"select exchange_rates","links":["6888b1b3.a2456"],"x":35,"y":100,"wires":[["144d20f6.2754a7"]]},{"id":"4a6accc5.e873f4","type":"link out","z":"bdb5fcb3.a365c8","name":"select exchange_rates","links":["476eaa1c.444b2c"],"x":515,"y":100,"wires":[]},{"id":"df4e4c5.c8b0b3","type":"comment","z":"bdb5fcb3.a365c8","name":"Получение последних добавленных курсов","info":"","x":890,"y":100,"wires":[]},{"id":"9dc7dac6.54b418","type":"catch","z":"20ceb07d.429d5","name":"","scope":null,"uncaught":false,"x":120,"y":40,"wires":[["7b7c90f5.07d028"]]},{"id":"7b7c90f5.07d028","type":"debug","z":"20ceb07d.429d5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":310,"y":40,"wires":[]},{"id":"9c3e4bbc.11c8c8","type":"change","z":"bdb5fcb3.a365c8","name":"Move","rules":[{"t":"move","p":"payload.rows","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":100,"wires":[["4a6accc5.e873f4","b3c2a1bd.8d51e8"]]},{"id":"6888b1b3.a2456","type":"link out","z":"4e6420aa.234fe","name":"select exchange_rates","links":["e5c57130.32273"],"x":455,"y":200,"wires":[]},{"id":"476eaa1c.444b2c","type":"link in","z":"4e6420aa.234fe","name":"select exchange_rates","links":["4a6accc5.e873f4"],"x":510,"y":200,"wires":[["b04ec461.030e18"]]},{"id":"31e936a2.313b62","type":"inject","z":"4e6420aa.234fe","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":340,"y":200,"wires":[["6888b1b3.a2456"]]},{"id":"b04ec461.030e18","type":"function","z":"4e6420aa.234fe","name":"Set redis","func":"// function dom(payload) {\n//   return payload.reduce(function(accumulator, value){\n//     return (\n//       accumulator +=\n//       `<pre>${value.ccy_code}/${value.ccy_code_base}     ${value.bid_last_hour} ${td(value.trend_bid_day)}     ${value.ask_last_hour} ${td(value.trend_asc_day)}</pre>\\n`\n//     );\n//   }, \"<pre><b><i>        Валюта      |     Купівля     |     Продаж</i></b></pre>\\n\");\n// }\n\n// function td (trend){\n//   switch (true) {\n//     case 0 < trend:\n//       trend = \"📈\";\n//       break;\n//     case 0 > trend:\n//       trend = \"📉\";\n//       break;\n//     default:\n//       trend = \"-\";\n//   }\n//   return trend;\n// }\n\nvar obj = {}\n// obj.html = dom(msg.payload.sort())\n// obj.chart_url = \"\"\nobj.date_update = new Date()\n\nmsg.payload = obj\nmsg.topic = 'source:privatbank'\n\n\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":200,"wires":[["6b90d9d2.76e41"]]},{"id":"6b90d9d2.76e41","type":"redis-command","z":"4e6420aa.234fe","server":"831f6c52.8309d","command":"hmset","name":"Set html to redis ","topic":"","params":"{}","paramsType":"json","payloadType":"json","block":false,"x":900,"y":200,"wires":[["c1837f89.a75d9"]]},{"id":"c1837f89.a75d9","type":"debug","z":"4e6420aa.234fe","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1070,"y":300,"wires":[]},{"id":"80dd58d3.886f4","type":"redis-command","z":"20ceb07d.429d5","server":"831f6c52.8309d","command":"hgetall","name":"Get cours ","topic":"source:privatbank","params":"{}","paramsType":"json","payloadType":"json","block":false,"x":320,"y":120,"wires":[["30bf03d0.11e764"]]},{"id":"9fc0db3f.2edce","type":"change","z":"17838c19.b5fd5c","name":"Move user_data  ","rules":[{"t":"move","p":"payload","pt":"msg","to":"user_data","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":360,"wires":[["b4251398.e3d54"]]},{"id":"23f124a0.dc5654","type":"function","z":"20ceb07d.429d5","name":"Set topic","func":"msg.topic = 'source:privatbank';\nreturn msg;","outputs":1,"noerr":0,"x":180,"y":120,"wires":[["80dd58d3.886f4"]]},{"id":"11b3a2f7.d04255","type":"inject","z":"bdb5fcb3.a365c8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":300,"wires":[["144d20f6.2754a7"]]},{"id":"b3c2a1bd.8d51e8","type":"debug","z":"bdb5fcb3.a365c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":510,"y":180,"wires":[]},{"id":"92d69d86.7742","type":"template","z":"4e6420aa.234fe","name":"Template","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<pre><b><i> Валюта | Купівля | Продаж</i></b></pre> \n<pre> BTC/USD 8212.71 📉 9077.20 📉</pre>\n<pre> EUR/UAH 28.70 - 29.35 -</pre> \n<pre> RUB/UAH 0.33 - 0.37 -</pre> \n<pre> USD/UAH 26.65 - 27.11 -</pre> ","output":"str","x":560,"y":300,"wires":[["6fa37b49.c8f304"]]},{"id":"6fa37b49.c8f304","type":"debug","z":"4e6420aa.234fe","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":760,"y":360,"wires":[]},{"id":"2e295400.50d084","type":"inject","z":"4e6420aa.234fe","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":360,"y":320,"wires":[["92d69d86.7742"]]}]